@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
  color: white;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 14rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  font-weight: 900;
  color: rgb(12, 12, 12);
}

@keyframes animate-back {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}


.success{
  color: rgb(51, 255, 24);
}