.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid white;
  padding: 20px;
  span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 55% 56% 59%;
    transition: 0.5s;
    animation: animate2 3s linear infinite;
    transition: all 5s ease-in-out;
    z-index: -1;
  }
  span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 55% 56% 59%;
    transition: 0.5s;
    animation: animate1 4s linear infinite;
    z-index: -1;
  }
  span:nth-child(3) {
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    // border: 2px solid #fff;
    border-radius: 38% 62% 63% 37% / 41% 55% 56% 59%;
    transition: 0.5s;
    animation: animate1 10s linear infinite;
  }
}

.filled:nth-child(1) {
  background: #8e2de2;
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  opacity: 0.4;
}
.filled:nth-child(2) {
  background: #34e89e;
  background: linear-gradient(to right, #34e89e, #0f3443);
  opacity: 0.4;
}
.filled:nth-child(3) {
  background: #ff0099;
  background: linear-gradient(to right, #493240, #ff0099);
  opacity: 0.4;
}

.border{
  border: 1px solid white;
}

@keyframes animate1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
