@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
.home-page {
  height: 100%;
  padding: 100px 0px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  height: 180px;
  width: auto;
}

.details {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  width: 60%;

  h1 {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    user-select: none;
  }

  .react-rotating-text-cursor {
    animation: blinking-cursor 0.5s steps(30) infinite;
    font-size: 1.9rem;
    color: orange;
  }

  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .description {
    // line-height: 20px;
    font-size: 1.2rem;
    opacity: 0.7;
  }
}

.resume {
  height: 49px;
  width: 49px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  a {
    text-align: center;
    color: #4a00e0;
    font-size: 2em;
    transition: color 300ms ease-in;
    animation: dropup 1s linear infinite;
  }
}

@keyframes dropup {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
}

.particles {
  z-index: -1;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 700px) {
  .home-page{
    h1{
      // font-size: 1.4rem;
    }
    .description{
      font-size: 0.8rem;
    }
  }
}