.home-page {
  height: 100%;
  padding: 100px 0px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
  height: 180px;
  width: auto;
}

.details {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  width: 60%;

  .tag {
    margin: 10px auto;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    width: 95%;
    height: 32px;
    position: relative;
    background: #8e2de2;
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    border-radius: 20px;
    transition: all 600ms ease-in-out;
    p {
      display: inline-block;
      color: #fff;
      overflow: hidden;
      border-right: 0.15em solid orange; 
      white-space: nowrap; 
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation: typing 3.5s steps(50, end) infinite, blink-caret 0.5s step-end infinite;
    }
  }


  
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

  .description {
    text-align: center;
    line-height: 20px;
  }
}

.resume {
  height: 45px;
  width: 45px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  a {
    text-align: center;
    color: #4a00e0;
    font-size: 2em;
    transition: color 300ms ease-in;
    animation: dropup 1s linear infinite;
  }
}

@keyframes dropup {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
}

.particles {
  z-index: -1;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
